body{
	
}
.header-top{
	margin: 0;
	padding: 0;
	background: #cea5e3;
	height: 50px;
	
}
.header-top i{
	float: right;
	background: #ECA29a;
	padding: 5px 10px;
	color: #fff;
	border-radius: 5px;
	margin: 12px;
	display: none;
	cursor: pointer;
}
.logo-area{
	float: left;
	background: #576898;
	width: 15%;
	height: 50px;
	z-index:1;
	
}

.logo-area label{
	margin-left: 30px;
	margin-top: 10px;
	color: #fff;
	font-size: 20px;
	font-family: Concert One;
	font-weight: bold;
}
.logo-area label img{
	width: 30px;
	height: 30px;
}
.header-area .header-top .main-menu{
	width: 85%;
	margin: 0;
	padding: 0;
	
}
.header-top .main-menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}
.header-top .main-menu ul li{
	display: inline-block;
	margin-left: 30px;
	margin-top: 11px;
}
.header-top .main-menu ul li a{
	color: #fff;
	text-decoration: none;
	font-family: Times New Roman;
	font-weight: bold;
	background: #575759;
	padding: 5px 10px;
	position: relative;
	transition: .4s;
}
.header-top .main-menu ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
	outline: 4px solid transparent;
}
.header-top .main-menu ul li a:hover{
	outline: 3px solid #575759;
	outline-offset: 5px;
}
.banner{
	width: 100%;
	height: 80px;
}
.uk-sticky-fixed{
	background: rgba(0, 0, 0, .5);
}
.banner h1{
	color: #fff;
	text-align: center;
	display: block;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	position: relative;
}
.banner h1:after{
	content: '';
	width: 10%;
	height: 4px;
	bottom: -2px;
	display: block;
	margin: auto;
	text-align: center;
	background: linear-gradient(to left, yellow, #003490, #202020);
	position: absolute;
}

.menu .box{
	height: 350px;
	background: #272727;
	margin-top: 25px;
	transition: .7s ease-in-out;
}
.menu .box:hover{
	transform: scale(1.1);
	
}
.menu .box img{
	width: 100%;
	height: 200px;
}
.menu .box h2{
	margin-top: 1px;
	color: #fff;
	font-family: Concert One;
	text-align: center;
}
.menu .box h3{
	margin-top: 0px;
	line-height: 15px;
	color: #fff;
	font-family: Concert One;
	text-align: center;
}
.menu .box a{
	width: 50%;
	padding: 5px 10px;
	margin: auto;
	text-align: center;
	display: block;
	background: #1D8B72;
	text-decoration: none;
	color: #fff;
	animation-name: sumon;
	animation-duration: .7s;
	animation-iteration-count: infinite;
}
@keyframes sumon{
	0%{
		background: #1D8B72;
	}
	25%{
		background: red;
		
	}
	50%{
		background: yellow;
		
	}
	75%{
		background: #CB434B;
		
	}
	100%{
		background: #1D8B72;
	}
}
.menu .box a:hover{
	background: #457264;
	animation-duration: 0s;
	transform: scale(1.1);
}
.footer-area{
background: #010101;
margin-top: 20px;
}
.footer-area p{
	margin: auto;
	text-align: center;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	font-weight: 2000px;
	font-family: Times New Roman;
}
