.header-top{
	margin: 0;
	padding: 0;
	background: #cea5e3;
	height: 50px;
	
}
.header-top i{
	float: right;
	background: #ECA29a;
	padding: 5px 10px;
	color: #fff;
	border-radius: 5px;
	margin: 12px;
	display: none;
	cursor: pointer;
}
.logo-area{
	float: left;
	background: #576898;
	width: 15%;
	height: 50px;
	z-index:1;
	overflow: hidden;
}

.logo-area label{
	margin-left: 30px;
	margin-top: 2px;
	color: #fff;
	font-size: 20px;
	font-family: Concert One;
	font-weight: bold;
}
.logo-area label img{
	width: 30px;
	height: 30px;
	margin-top: 10px;
}
.header-area .header-top .main-menu{
	width: 85%;
	margin: 0;
	padding: 0;
	
}
.header-top .main-menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}
.header-top .main-menu ul li{
	display: inline-block;
	margin-left: 30px;
	margin-top: 11px;
}
.header-top .main-menu ul li a{
	color: #fff;
	text-decoration: none;
	font-family: Times New Roman;
	font-weight: bold;
	background: #C4E3AC;
	padding: 5px 10px;
	position: relative;
	transition: .3s;
}
.header-top .main-menu ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
	outline: 2px solid transparent;
}
.header-top .main-menu ul li a:hover{
	outline: 2px solid #C4E3AC;
	outline-offset: 5px;
}
/* bottom area */
.header-bottom{
	margin: 0;
	padding: 0;
	width: 100%;
	background: #B10101;
	height: 620px;
	z-index: 1;
	position: relative;
	overflow: hidden;
	
}
.header-bottom .div2{
	background: #FBCA03;
	width: 100%;
	height: 590px;
	margin-top: 30px;
	z-index: -99;

	position: absolute;
	clip-path: polygon(1% 100%, 99% 100%, 0 100%, 0 88%, 20% 80%, 40% 76%, 63% 76%, 79% 80%, 100% 88%, 100% 100%);
}
.header-bottom .con{
	width: 50%;
	height: 300px;
	margin: auto;
}
.header-bottom .content{
	width: 100%;
	height: 300px;
	background: rgba(0,0,0,.3);
	margin-top: 150px;
}
.content h2{
	width: 80%;
	padding-top: 10px;
	color: #fff;
	margin: auto;
	font-family: Concert One;
	font-weight: bold;
	font-size: 30px;
	z-index: 99;
}
.content h1{
	width: 40%;
	padding-top: 10px;
	color: #fff;
	margin: auto;
	font-family: Concert One;
	font-weight: bold;
	font-size: 50px;
	z-index: 99;
}
.content p{
	color: #fff;
	width: 80%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	font-family: Concert One;
	font-weight: bold;
	z-index: 99;
}
.content a{
	color: yellow;
	width: 30%;
	padding: 10px;
	background: #456729;
	display: block;
	text-align: center;
	margin: auto;
	font-weight: bold;
	text-decoration: none;
	position: relative;
}
.content a:hover{
	width: 20%;
	background: yellow;
	text-decoration: none;
	color: black;
	border-radius: 30px;
	box-shadow: 0px 0px 10px yellow,0px 0px 20px yellow,0px 0px 30px yellow,0px 0px 40px yellow,0px 0px 50px yellow;
	
}
.header-bottom .img{
	width: 40%;
	margin: auto;
}
.header-bottom img{
	width: 40%;
	z-index: -1;
	margin-top: 380px;
	position: absolute;
	
}
.header-bottom .im{
	z-index: -1;
	position: absolute;
	margin-top: 10px;
}
.footer-area p{
	color: #fff;
	font-family: Concert One;
	font-weight: bold;
	margin: auto;
	display: block;
	text-align: center;
}
